<footer id="footer" class="footer bg-primary pt-5 pb-5 text-white text-center">
	<div class="container">
		<h4 class="footer-logo">
			{{#if @site.logo}}
			<img src="{{@site.logo}}" alt="{{@site.title}}">
			{{else}}
			{{@site.title}}
			{{/if}}
		</h4>
		<p class="mb-1 copyright-text">Copyright &copy; {{@site.title}}. All Rights Reserved.<br>Designed By <a class="credits-link" href="https://www.kloudboy.com" target="_blank" rel="noopener">Kloudboy</a>.</p>
	</div>
</footer>
